/* ACTIVIDAD */

.contenedor-disciplina{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  
}

.titulo-actividad{
  font-family: var(--font-titulo);
  text-transform: uppercase;
}

.sub-actividad{
  font-weight: 600;
  font-size: 15px;
  color: var(--color-primary);
}

.precios{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.precios select{
    padding: 0.3rem 0;
    border: none;
    background-color: transparent;
}


.precios thead th,
.precios tbody td {
  vertical-align: middle;
  text-align: start;
  border-bottom: 1px solid lavender;
  font-size: 14px;
  background-color: transparent;
}

.precios tfoot td{
   background-color: transparent;
}

.tabla-precios tfoot p{
  text-align: end;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.tabla-precios tfoot .matricula{
  text-align: start;
}

.tabla-precios th{
  font-size: 14px;
  padding: 4px;
}

.carrusel-actividad{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.foto.grande {
  position: relative;
  width: 55%;
  aspect-ratio: 4 / 5;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.foto.grande img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.laterales {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
}

.foto.chica {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.foto.chica img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto.chica:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(153, 142, 169, 0.2);
  pointer-events: none;
  transition: background 0.3s ease;
}

.foto.chica:hover .overlay {
  background: rgba(180, 75, 177, 0.323);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

.modal-react {
  background: white;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  padding: 15px 20px;
  position: relative;
  outline: none;
  width: 90%;
  animation: fadeInUp 0.3s ease;
}

.modal-header .close {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: #555;
}

.btns{
  display: flex;
  gap: 1rem;
}

.modal-header{
  border-bottom: 2px solid #ddd;
}
.nav-tabs {
  display: flex;
}

.nav-tabs .nav-item {
  margin-right: 10px;
}

.nav-tabs .nav-link {
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 500;
  color: #666;
}

.nav-tabs .nav-link.active {
  color: #000;
  border-bottom-color: var(--color-primary);
}

.tab-content {
  margin-top: 10px;
}

.tab-actividad h5 {
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .contenedor-disciplina {
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .info {
    text-align: center;
    align-items: center;
  }

  .titulo-actividad {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .descripcion-actividad p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .sub-actividad {
    font-size: 14px;
    text-align: center;
  }

  .precios{
    margin-top: 1rem;
  }
  .tabla-precios {
    font-size: 13px;
  }

  .precios select {
    width: 100%;
    font-size: 14px;
  }

  .btns {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .btns button {
    width: 80%;
  }

  .carrusel-actividad {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    gap: 0.5rem;
  }

  .laterales {
    flex-direction: row;
  }

  .modal-react {
    width: 95%;
    max-height: 85vh;
    overflow-y: auto;
  }
  .nav-tabs .nav-link {
    padding: 8px;
  }
}

@media (max-width: 460px) {
  .carrusel-actividad {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
  }

  .laterales {
    flex-direction: row;
  }

  .contenedor-disciplina {
    padding: 1.5rem 0.5rem;
  }

  .modal-react {
    width: 90%;
    max-height: 85vh;
    overflow-y: auto;
  }

  .nav-tabs .nav-item {
    margin: 0px;
  }

  .nav-tabs .nav-link {
    padding: 8px;
  }

 /*---------------------*/

  .tabla-precios select,
  .natacion select {
    width: 45%;
  }
 
  .tabla-precios thead, 
  .natacion thead {
    display: none;
  }

  .tabla-precios tbody tr,
  .natacion tbody tr {
    display: block;
    padding: 0.5rem;
  }

  .tabla-precios td,
  .natacion td {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  .tabla-precios td::before,
  .natacion td::before {
    content: attr(data-label);
    font-weight: 600;
    color: #3c3c3c;
    align-content: center;
  }

  .tabla-precios tfoot td,
  .natacion tfoot td{
    font-size: 12px;
    justify-content: center;
  }
}
