/* CONTENEDOR PRINCIPAL */
.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f4f6f8;
}

/* SIDEBAR */
.admin-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 260px;
  background-color: var(--color-tertiary);
  border-right: 1px solid #cfdde5;
  transition: width 0.3s ease;
  z-index: 1200;
}

/* SIDEBAR COLAPSADO */
.admin-sidebar.collapsed {
  width: 72px;
}

/* CONTENIDO */
.admin-content {
  margin-left: 260px;
  padding: 2rem;
  width: calc(100% - 260px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* CONTENIDO CON SIDEBAR COLAPSADO */
.admin-content.collapsed {
  margin-left: 72px;
  width: calc(100% - 72px);
}


/* =========================
   BOTONES
========================= */
.btn-admin {
  height: 40px;
  background-color: var(--color-primary);
  color: var(--white);
  font-weight: bold;
}

.btn-admin:hover {
  background-color: var(--color-secondary);
  color: var(--white);
}

/************* DASHBOARD ******************/
.nav-link{
  margin-right: 5px !important;
}

.navlink-active{
  color: var(--color-primary);
  text-decoration: underline !important;
}

/* Tabla de Servicios */
.table-servicios th:nth-child(1),
.table-servicios td:nth-child(1),
.table-servicios th:nth-child(2),
.table-servicios td:nth-child(2),
.table-servicios th:nth-child(3),
.table-servicios td:nth-child(3),
.table-servicios th:nth-child(4),
.table-servicios td:nth-child(4) {
  width: 20%;
}

.table-servicios th:nth-child(5),
.table-servicios td:nth-child(5),
.table-servicios th:nth-child(6),
.table-servicios td:nth-child(6) {
  width: 10%;
  text-align: center;
}

