/* Contenedor principal */
.admin-layout {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #f4f6f8;
}

/* Sidebar */
.admin-sidebar {
  width: 260px;
  height: 100vh;
  background-color: var(--color-tertiary);
  border-right: 1px solid #cfdde5;
  padding: 1.5rem 1rem;
  position: fixed;
  left: 0;
  top: 0;
}

/* Contenido */
.admin-content {
  margin-left: 260px; /* MISMO ancho del sidebar */
  padding: 2rem;
  width: calc(100% - 260px);
}

/* BOTONES */

.btn-admin {
  height: 40px;
  background-color: var(--color-primary);
 
  color: var(--white);
  font-weight: bold;
}

.btn-admin:hover{
  background-color: var(--color-secondary);
  color: var(--white);
}


/************* DASHBOARD ******************/
.nav-link{
  margin-right: 5px !important;
}

.navlink-active{
  color: var(--color-primary);
  text-decoration: underline !important;
}

/* Tabla de Servicios */
.table-servicios th:nth-child(1),
.table-servicios td:nth-child(1),
.table-servicios th:nth-child(2),
.table-servicios td:nth-child(2),
.table-servicios th:nth-child(3),
.table-servicios td:nth-child(3),
.table-servicios th:nth-child(4),
.table-servicios td:nth-child(4) {
  width: 20%;
}

.table-servicios th:nth-child(5),
.table-servicios td:nth-child(5),
.table-servicios th:nth-child(6),
.table-servicios td:nth-child(6) {
  width: 10%;
  text-align: center;
}
