
/*************** FOOTER ******************/
#footer {
  background: #071013;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.social-links:hover {
  color: var(--color-primary) !important;
  text-decoration: none;
}

.whatsapp-footer-icon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  background: #25D366;
  border-radius: 50%;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.whatsapp-footer-icon:hover {
  background: #128C7E;
}

@media (max-width: 460px) {
  .whatsapp-footer-icon {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
}