/* HEADER */

.custom-navbar {
  position: relative;
  background-color: ghostwhite !important;
  transition: background-color 0.3s;
  padding: 5px 20px;
}

.navbar-nav .nav-item {
  margin-left: 2rem;
  text-align: end;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  padding: 0.7rem 1.2rem;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav {
  transform: scale(1);
}

.nav-item:hover, .nav-link:hover{
  color: var(--color-secondary);
}

.nav-link:not(.nav-btn).active{
  color: var(--color-primary) !important;
}

.header-title {
  font-family: 'Bowlby One SC', sans-serif;
}

.banner-section {
  position: relative;
  background-image: url('../assets/banner mejorado2.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.banner-text {
  position: relative;
  z-index: 2;
  font-size: 2.9rem;
  color: whitesmoke;
  text-shadow: 2px 2px 6px rgba(87, 75, 101, 0.796);
  
}

.nav-btn {
  background-color: var(--color-primary);
  color: white !important;
  border-radius: 30px;
  padding: 0.4rem 1rem;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: var(--color-secondary);
  color: white !important;
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 25vh;
    background-color: #fff;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    
  }
  .navbar-collapse ul {
    flex-direction: column;
    text-align: center;
  }

  .custom-toggler .close-icon {
    position: absolute;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: rotate(0deg);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .custom-toggler.open .close-icon {
    opacity: 1;
    transform: rotate(90deg);
  }

  .navbar-nav .nav-item {
    margin-right: 0.5rem;
    text-align: end;
  }

  .nav-btn{
    margin-right: 0.5rem;
  }
}

@media (max-width: 460px) {
  .banner-section{
    height: 40vh;
  }

  .navbar-collapse{
    height: 25vh;
  }
  .custom-navbar {
    padding: 5px 10px;
  }

  .banner-text{
    font-size: 2.3rem;
  }
}

.custom-toggler {
  border: none;
  background: transparent;
  padding: 0.5rem;
}

.custom-toggler i {
  font-size: 1.8rem;
  color: #333;
}

/* SOLO MOBILE */
@media (max-width: 991px) {
  .navbar-toggler {
    display: block;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
  transition: opacity 0.2s ease;
  padding: 5px 15px;
  
}

.custom-toggler .close-icon {
  position: absolute;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transform: rotate(0deg);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.custom-toggler.open .navbar-toggler-icon {
  opacity: 0;
}

.custom-toggler.open{
  display: grid;
  
}
.custom-toggler.open .close-icon {
  opacity: 1;
  transform: rotate(90deg);
  justify-self: center;
  
}