.home-section,
.contacto-section{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

/***** Quienes somos *****/
.hero-logo {
  width: 150px;
  height: auto;
  object-fit: contain;
}

.titulo-pagina {
  text-transform: uppercase;
  font-family: var(--font-titulo);
  background: linear-gradient(90deg, rgba(0, 147, 216, 1) 0%, rgba(165, 78, 158, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(25px, 4.5vw, 60px);
  line-height: 1.02;
  margin: 0;
  text-align: center;
  letter-spacing: 0.02em;
  width: auto;
  display: inline-block;
}

.hero-title {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.hero-title {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.hero-sub {
  color: #111;
  max-width: var(--max-content-width);
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 0 0.5rem;
}

.hero-simple {
  width: 100%;
  background: none;
  padding: 3.2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Media query para móviles (opcional, si clamp no basta) */
@media (max-width: 768px) {
  .titulo-pagina {
    font-size: 2rem;  
  }
  .hero-sub {
    font-size: 1.1rem;
  }
}

@media (max-width: 460px) {
  .hero-simple {
    padding: 1.8rem 1rem;
  }
}

/* Quiénes Somos */
.qs-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.qs-texto {
  text-align: left;  
  max-width: 600px;  
}

.qs-titulo {
  font-family: var(--font-titulo);  
  text-transform: uppercase;
  font-size: 30px;
  text-align: left;  
  max-width: 1200px;
}

.carousel-item{
  height:100%;
}

.carousel-item  img{
  height: 360px;
  width: 100%;
   aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 2px;
}

/* Responsive */

@media (max-width: 768px) {
  .qs-content,
  .contacto-section .container {
    padding: 0 1rem;
  }

  .qs-texto {
    max-width: 100%;
    padding-left: 0 !important;
  }

  .contacto-datos {
    flex-direction: column; 
    gap: 1rem;
  }
}

@media (max-width: 460px) {
   .carousel-item img {
    height: 250px;
  }
  .home-section,
  .contacto-section{
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

/* Contacto */
.contacto-section .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.contacto-datos {
  width: 100%;
  justify-content: space-between;
}

.info-contacto {
  align-content: center;
}

.dato-contacto {
  display: flex;
  align-items: start;
  gap: 12px;
  margin-bottom: 1.3rem;
}

.icon-contacto {
  background: var(--color-primary);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-dato-contacto {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0;
}

.texto-dato-contacto {
  margin: 0;
  font-size: 1rem;
}

.mapa {
  height: 400px;
  width: 500px;
}

.mapa-container {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

}

/* SERVICIOS */

.card-img{
  height: 270px;
}

.card-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dato-servicio{
  margin-bottom: 5px;
  color: var(--color-primary);
  font-weight: 600;
}

.dato-servicio .enlace{
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.dato-servicio .enlace:hover{
  color: var(--color-secondary);
  font-weight: 700;
}


