/*********** HORARIOS ***************/
.pages-section {
  padding: 4rem 1rem;
}

.horarios{
  padding-left: 0;
  padding-right: 0;
}
.tabla-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow-x: auto;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}

.tabla-horarios .table-head th {
  background-color: var(--color-primary) !important;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.celda-hora {
  background-color: var(--color-secondary) !important;
  color: white !important;
  font-weight: 600;
  position: sticky;
  left: 0;
  z-index: 20;

}

/*
.tabla-horarios tbody tr:nth-of-type(odd) {
  background-color: #f7fcff;
}*/

.tabla-horarios tbody tr:nth-child(odd) td:not(.celda-hora) {
  background-color: white;
}

/* Fila par: solo celdas de actividades */
.tabla-horarios tbody tr:nth-child(even) td:not(.celda-hora) {
  background-color: #FAF0FF;
}

select.form-select {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
}

.nombre-actividad,
.profesor{
  margin: 0;
}

#logo{
   display:none;
}
.filtro-pdf{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 460px) {
  .tabla-horarios .table-head th,
  .tabla-horarios .celda-hora{
    font-size: 14px;
  }

  .filtro-pdf{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .tabla-horarios p{
    font-size: 14px;
  }
}



