/******** LOGIN *********/
.login-card {
  width: 100%;
  max-width: 420px;
  border: none;
  border-radius: 20px;
  background-color: white;
}

.login-btn {
  background-color: var(--color-primary);
  border: none;
  font-weight: 600;
  border-radius: 50px;
  padding: 0.6rem 0;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: var(--color-secondary);
}


/************* PERFIL ******************/


.badge {
  font-size: 1rem;
  padding: 0.6em 1em;
}

.badgeDisciplinas{
    background-color: var(--color-secondary) !important;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}