/* HEADER */
.custom-navbar {
  background-color: white !important;
  transition: background-color 0.3s;
}

.header-title {
  font-family: 'Bowlby One SC', sans-serif;
}


.banner-section {
  position: relative;
  background-image: url('assets/banner.jpg'); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  z-index: 1;
}

.banner-text {
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  color: whitesmoke;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.8); 
}


/* FOOTER */
#footer {
  background: #071013;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.cta {
  background:#a54e9e;
  background-size: cover;
  padding: 15px 0;
}

.cta p {
  color: whitesmoke;
  font-weight: 400;
  font-size: 1rem;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #e7bf77;
  border-color: #e7bf77;
  color: #151515;
}


.social-links a {
  display: inline-block;
  /*background: #292929;*/
  color: #fff;
  line-height: 1;
  padding: 0px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.social-links a:hover {
  color: #ffc451;
  text-decoration: none;
}